body{
    box-sizing: border-box;
    background-color: #333;
    font-family: 'Futura', Helvetica, Arial, sans-serif;
    padding: 20px 0;
}
h1{
    color: #bbb;
    font-weight: bold;
    text-transform: uppercase;
}
h1 > span {
    color: rgb(223, 201, 6);
}

.item-card{
    margin: 10px 0;
    padding: 10px;
    height: 95%;
    background-color: #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
    transition: 0.3s;
}
.card-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.card-title{
    flex-grow: 2;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    color: rgb(223, 201, 6);
    text-align: left;
    position: relative;
    font-size: 1.75em;
}
.card-title:after{
    content: '';
    height: 4px;;
    width: 50%;
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: rgb(223, 201, 6);
}
.item-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}
.item-describtion{
    color: #777;
    text-align: center;
    margin: 0;
}

.item-image{
    max-height: 150px;
    margin: 25px auto;
}
